/* Colors used :  #232323, #4287f5, #7C58F8, #de50fa, #55ACEE, #55ACEE, #dd4b39, #dd4b37 */


* {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



body {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1rem;
    margin: 0;      
    background-color: #232323;  
    color: white;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
  line-height: 1.5;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    transform: translateY(0.5rem);
}

h4{
    font-family: 'Abril Fatface', cursive;
    font-size:1.5rem;    
}

.row h3{
  color: black;
}

.row p{
  color: black;
}

.bg-header .box,
.bg-footer .box {
    padding: 2rem 2rem;
}

.bg-main-content .box {
    padding: 0.5rem;
    color: #666;
}


.bg-header {
    background-image: url(../img/bg-masthead.jpg);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkblue;
}


#tag-line {
    color:white;
    text-align: center;
}


.bg-nav ul{    
    list-style: none;
    padding:0.5% 5%;
}

.bg-nav ul a:link{    
    text-decoration: none;
    color:#4287f5;
    
}

.bg-nav ul a:visited{   
    color: white;   
}

.bg-nav ul a:hover{   
    color:#7C58F8;    
}



#active{
    
    background-color: #393c40;
    color:white;
    
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}



.btn{
    background-color: #7C58F8; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    display: inline;
    font-size: 14px;
    margin-right: 10%;
    margin-left: 10%;
    width: 120px;
    height: 50px;
    }
.btn:hover{
  background-color: #de50fa;
}

.btn:active{
  background-color: white;
  color: #7C58F8;
}

.new-content{    
    display: flex;
    flex-direction: column;
    padding:5% 5%;    
}

.new-content img{    
    width: 400px ;
    height: 300px;
    margin: 0;
    object-fit: cover;
}

.figure{
    margin: 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #dd4b37;
  color: white;
}



footer{
    text-align: center;
}
footer .fa{
    display: inline-flex;
}

.content h3{
  color: black;
}

.content p{
  color: black;
}


.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* media queries */


@media screen and (min-width: 50rem) {
    
    
    #tag-line {        
        font-size: 4rem;
        padding: 8% 0 8% 30%;
    }

    body {        
        font-size: 1rem;
        max-width:1600px;
    }
    
    .bg-nav{
        text-align: center;
    }
    
    .bg-nav ul{        
        padding:0.5% 15%;
    }
        
    .bg-nav ul li{    
        display: inline;
        padding:0 30px;    
    }  
    
    .controls{ 
        width: 100%;
        margin: 20px auto;
        display: flex;
        margin: 0;
        padding: 1em;
    } 
    
    .new-content{    
        display: flex;
        flex-direction: row;
        padding:1% 15%;    
    }


    .new-content p{
        font-size: 14px;
        display: flex;
    }

    .btm{
        margin-right: 10%;
        margin-left: 10%;
    }
